.advert-container {
    justify-content: space-between; /* Align items with space between them */
  }
  
  .advert-title {
    display: flex; /* Nested flex container */
    align-items: center; /* Align items vertically */
    width: 100%;
  }
  .complete-advert__button--back{
    max-width: 10%;
  }
  
  .advert-price {
    margin-left: auto; /* Push the advert price to the right */
    margin-right:5%
  }
  .advert-details{
    display: flex;
    display: flex;
    align-items: center; /* Vertically centers the items */
    justify-content: space-between; /* Distributes space evenly between items */

    width: 90%;
    background-color: rgb(0, 61, 39);
    margin: 5%;
    border-radius: 10px;
    
  }
  .complete-advert__header{
    text-align: center;
    justify-content: center;
  }
  .advert-detail{
    width: 20%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 1.5em;

  }

  .advert-details-title{
    text-align: center;
  }
  .advert-description{
    width: 84%;
    background-color: rgb(0, 61, 39);
    margin: 5%;
    border-radius: 10px;
    text-align: center;
    padding: 3%;
  }
  .advert-picture{
    text-align: center;

  }
  .complete-advert__image--icon{
    width: 5%;
    max-width: 20%;
  }