.slides{
    min-height: 400px;
}
.prev-slide-button{
    background-color: rgb(0, 61, 39);
    color: rgb(18, 224, 148);
    border-color: rgb(18, 224, 148);
    border-radius: 10px;
    width: 10%;
}
.next-slide-button{
    background-color: rgb(0, 61, 39);
    color: rgb(18, 224, 148);
    border-color: rgb(18, 224, 148);
    border-radius: 10px;
    width: 10%;
}