.createAdvertForm{
    text-align: center;
}
.createAdvertForm__inputDiv select{
    border-color: none;
    color: var(--primary-color);
    background-color: var(--dimmed-background);
    text-align: center;
    border-radius: var(--border-radius-small);
    width: 30%;
    margin: 3%;
}
.createAdvertForm__inputDiv input{
    border: none;
    display: inline-block;
    background-color: var(--dimmed-background);
    color: var(--primary-color);
    text-align: center;
    outline-color: invert;
    border-radius: var(--border-radius-small);
    width: 30%;
    margin: 3%;
}
.createAdvertForm__inputDiv label{
    display: inline-block;
    text-align: center;
    width: fit-content;
    box-sizing: border-box;
}
.createAdvertForm__inputDiv{
    min-width: fit-content;
}
.createAdvertForm__button{
    border: none;
    color: var(--primary-color);
    background-color: var(--dimmed-background);
    text-align: center;
    outline-color: invert;
    border-radius: var(--border-radius-small);
    padding: 1%;
    font-size: 1.2rem;
    width: 30%;
    margin: 3%;
    min-width: fit-content;
}