
.sell-your-car {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    border-radius: var(--border-radius-medium);
    width: 70%;
    margin: 0 auto; 
}

.sell-your-car__image {
    width: 30%;
    height: auto;
    margin: 10%;
}

.sell-your-car__text {
    margin: auto;
    text-align: center;
}

.sell-your-car__button {
    color: rgb(0, 0, 0);
    background-color: var(--dimmed-background);
    text-align: center;
    border-radius: var(--border-radius-small);
    border: none;
    padding: 7%;
    width: fit-content;
    margin-bottom: 5%;
    margin-right: 5%;
    font-size: 1.2rem;

}

.sell-your-car__button:hover {
    background-color: var(--dimmed-background-dark);
}
