.navbar__container {
    background-color:rgb(0, 74, 47);
    display: flex;
    width: 100%;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    border-bottom: 1px solid aquamarine;
    max-height:100px;
    height: 10%;
    min-height:5%
}

.home__image{
  width: 100%;
  margin: 0%;
  padding: 0%;
  max-height: 50px;
}

.navbar__button {
  margin: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  min-width: fit-content;
  position: relative;
  border-radius: 5px;
  padding: 1%;
}
  
.navbar__button:hover{
  background-color: var(--primary-color);
  color: var(--secondary-color);
  
}

.navbar__button:hover a{
  color: var(--secondary-color);
  
}

.navbar__container a{
  color: var(--primary-color);
  text-decoration: none;
}
  
  
  