.basicSearchForm{
    background-color: rgb(18, 224, 148);
    color:rgb(0, 74, 47);
    text-align: center;
    padding: 5%;
    border-radius: 10px;
}

.selectGroup{
    
    width: 100%;
}
.formSelect {
    border-color: rgba(240, 248, 255, 0);
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.138);
    text-align: center;
    outline-color: invert;
    border-radius: 5px;
    font-size: 16px;
    width: 30%;
    margin: 3%;
}
.submitButton{
    border-color: rgba(240, 248, 255, 0);
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.138);
    text-align: center;
    outline-color: invert;
    border-radius: 5px;
    font-size: 16px;
    width: 30%;
    margin: 3%;
}
.submitButton:hover{
    background-color: rgba(0, 0, 0, 0.397);;
}


