.individualFeaturedAdvert{
    background-color: var(--primary-color);
    color:var(--secondary-color);
    text-align: center;
    border-radius: var(--border-radius-medium);
    margin: 3%;
    flex: 30%;
    cursor: pointer;
}
.individualFeaturedAdvert_image{
    width: 80%;
    height: auto;
    border-radius: var(--border-radius-medium);
}